.container{
    background-color: yellow;
    width: 100%;
    height: 800px;
    /* display: flex;
    align-items: center;
    justify-content: center; */   
}
.inner_container1{
    height: 200px;
    width: 200px;
    background-color: red;
    margin: 0px auto;
    position: relative;
    top: 45%;
    z-index: 999;
}
.inner_container2{
    height: 200px;
    width: 200px;
    background-color:skyblue;
    margin: 0px auto;
    position: absolute;
    border: 2px solid palevioletred;
    top: 57.5%;
    left: 42.5%};

    /* .inner_container3{
    width:200px;
    height: 200px;
    background-color: blue;
    border: 2px groove red;
} */

