#Reg_Form{
    text-align: center;
    background-color: aqua;

}

#F_name{
    text-align: center;
    background-color: lightgreen;
}
h2{
    background-color: palevioletred;
    text-align: center;

}
 /* body{
    background-color:mediumturquoise;
 } */

#D1{
    text-align: center;
    background-color:lightpink;
    padding: 20px 0px;
} 